{% extends "user/base_user.html" %}

{% block page_content %}
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2>登录密码 <small>修改</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
        	<br />
            <div class="ln_solid"></div>
        	<form id="setting-form" data-parsley-validate class="form-horizontal form-label-left" action="{{ url_for('user.passwordsetting') }}" method="post">
        		{{form.csrf_token}}
            	<div class="form-group">
                	<label class="control-label col-md-1 col-sm-1 col-xs-12" for="user_email">原始密码<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                    	<input type="password" name="password" id="user_email" value="" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                	<label class="control-label col-md-1 col-sm-1 col-xs-12" for="user_mobile">新密码<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                    	<input type="password" name="new_password" id="user_mobile" value="" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="form-group">
                	<label class="control-label col-md-1 col-sm-1 col-xs-12" for="user_nick">重复密码<span class="required">*</span></label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                    	<input type="password" name="rep_new_password" id="user_nick" value="" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                	<div class="col-md-12 col-sm-12 col-xs-12">
                		<button class="btn btn-primary" type="button" onclick="cancel()">取消</button>
                		<script type="text/javascript">
                			function cancel () {
                				window.location.href = "{{url_for('user.index')}}"
                			}
                		</script>
                		<button type="submit" class="btn btn-success">提交</button>
                	</div>
            	</div>

        	</form>
    	</div>
	</div>
</div>
{% endblock page_content %}
